


<md-content layout-padding>
    <div>
        <form name="dthForm" class="formPadding">
            <div class="formFmt">
                <div class="mainLabel">
                    <h3>DTH Recharge</h3>
                </div>
                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Operator</label>
                        <input ng-model="Operator">
                    </md-input-container>
                    <div flex="5" hide-xs hide-sm>
                        <!-- Spacer //-->
                    </div>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Enter DTH No.</label>
                        <input ng-model="DthNo">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <md-button class="md-raised md-primary">Proceed to Recharge</md-button>
                    </md-input-container>
                </div>
            </div>
            <div class="mainLabel">
                <h3>Browse Plans of Tata Sky</h3>
            </div>

        </form>
    </div>


    <!--<div class="ng-scope layout-row">
        <div layout-gt-sm="row" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Videocon</span>
                        <span class="md-subhead">*****123</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button class="md-primary btn-block mt10 md-button md-default-theme">Edit</md-button>
                    <md-button class="md-primary btn-block mt10 md-button md-default-theme">Delete</md-button>
                    <md-button class="md-primary btn-block mt10 md-button md-default-theme">Recharge</md-button>
                    <md-card-icon-actions>
                        <md-button class="md-icon-button" aria-label="icon">
                            <md-icon md-svg-icon="icon"></md-icon>
                        </md-button>
                    </md-card-icon-actions>
                </md-card-actions>

            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">TATA Sky</span>
                        <span class="md-subhead">*****123</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button class="md-primary btn-block mt10 md-button md-default-theme">Edit</md-button>
                    <md-button class="md-primary btn-block mt10 md-button md-default-theme">Delete</md-button>
                    <md-button class="md-primary btn-block mt10 md-button md-default-theme">Recharge</md-button>
                    <md-card-icon-actions>
                        <md-button class="md-icon-button" aria-label="icon">
                            <md-icon md-svg-icon="icon"></md-icon>
                        </md-button>
                    </md-card-icon-actions>
                </md-card-actions>goo

            </md-card>
        </div>
    </div>-->



</md-content>




