<div ng-controller="UserCtrl as userScope">

    <!-- TOOL BAR -->
    <md-toolbar class="main-header md-whiteframe-3dp">
        <div class="md-toolbar-tools">
            <div flex="15" layout="row" layout-align="center center">
                <img src="../Css/img/Mish call logo.png" width="110" height="50" />
            </div>
            <span flex></span>

            <div flex="5" layout="row" layout-align="center center">
                <md-button class="md-icon-button">
                    <ng-md-icon icon="account_circle" size="30"></ng-md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <div class="flexbox-parent signup-background">
        <div layout="row" layout-align="center center">

            <div id="signup">
                <div class="registration-screen">
                    <div id="wallet-container-new" aria-hidden="false">
                        <ul class="registrationLeft"></ul>
                    </div>
                    <div id="login-container">

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First name</label>
                                <input ng-model="userScope.UserVM.User.FirstName">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Last Name</label>
                                <input ng-model="userScope.UserVM.User.LastName">
                            </md-input-container>

                        </div>

                        <md-input-container class="md-block">
                            <label>Mobile Number</label>
                            <input ng-model="userScope.UserVM.User.MobileNumber">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Email Address</label>
                            <input type="email" ng-model="userScope.UserVM.User.EmailAddress">
                        </md-input-container>

                        <!--<md-input-container class="md-block">
                            <label>Date of Birth</label>-->
                        <!--<input type="datetime" ng-model="userScope.UserVM.User.DOB">-->
                        <!--<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                        </md-input-container>-->

                        <md-radio-group layout-gt-sm="row" ng-model="user.group1">
                            <md-radio-button value="Male" class="md-block" flex-sm-sm>Male</md-radio-button>
                            <md-radio-button value="Female" class="md-block" flex-gt-sm>Female</md-radio-button>
                        </md-radio-group>

                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input type="password" ng-model="userScope.UserVM.User.Password">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Re-Password</label>
                            <input type="password" ng-model="userScope.UserVM.User.Re_Password">
                        </md-input-container>

                        <section layout="row" layout-gt="column" layout-align="center center" style="margin-top:45px;">
                            <md-button ng-click="mishWishScope.onRegisterNewUser()" class="md-primary btn-block mt10 md-button md-default-theme">Create your Wallet</md-button>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
