

<div class="row" style="margin-top:10px;">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-8 col-md-offset-8">
                <div class="panel panel-default text-center">
                    <div class="panel-heading text-center text-bold">Forget Password</div>
                    <div class="panel-body">
                        <p>
                            Please enter UserName or Mobile Number<br />
                            you will receive link to create new password via Email
                        </p>
                        <div class="col-md-12">

                            <input class="form-control" placeholder="Enter password" />
                        </div>

                        <div style="">
                            <button type="button" class="btn btn-info" style="margin-top:10px;">Get new password</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


