
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<!-- CSS LOAD -->
<link href="../Css/angular-material.min.css" rel="stylesheet" />
<link href="../Css/site.css" rel="stylesheet" />
<link href="../Css/bootstrap.css" rel="stylesheet" />
<link href="../Css/angular-material-sidemenu.css" rel="stylesheet" />
<link href="../Css/skins/_all-skins.min.css" rel="stylesheet" />

<!-- SCRIPT LOAD -->
<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script src="../Scripts/angular.min.js"></script>
<script src="../Scripts/angular-aria.min.js"></script>
<script src="../Scripts/angular-animate.min.js"></script>
<script src="../Scripts/angular-resource.min.js"></script>
<script src="../Scripts/angular-route.min.js"></script>
<script src="../Scripts/angular-ui-router.js"></script>
<script src="../Scripts/bootstrap.min.js"></script>
<script src="../Scripts/angular-material-icons.min.js"></script>

<script src="../scripts/angular-material.min.js"></script>
<script src="../Scripts/angular-material-sidemenu.js"></script>
<script src="mish-wish-app.js"></script>
<script src="user/user-form.js"></script>

<script src="../Classes/MishWishClass.js"></script>
<!-- SERVICES LOAD -->
<script src="services/mish-wish-api-service.js"></script>

<!-- CLASSES LOAD -->
<script src="../Classes/UserClass.js"></script>

<!--MISH WISH APP -->
<div id="mishWishApp">

    <div ng-controller="MishWishCtrl as mishWishScope" md-theme="md-cyan-theme">

        <!--DISPLAY CONTENT AFTER LOGIN-->
        <div ng-if="mishWishScope.IsLoginSuccess">

            <!-- TOOL BAR -->
            <md-toolbar class="main-header md-whiteframe-3dp">
                <div class="md-toolbar-tools">
                    <div flex="13" layout="row" layout-align="center center">
                        <img src="../Css/img/Mish call logo.png" width="110" height="50" />
                    </div>
                    <span flex></span>

                    <div flex="5" layout="row" layout-align="center center">
                        <md-button class="md-icon-button">
                            <ng-md-icon icon="account_circle" size="50"></ng-md-icon>
                        </md-button>
                    </div>
                </div>
            </md-toolbar>

            <!-- LEFT,RIGHT PANEL AND CONTENT OF TABS -->
            <div layout="row">

                <!-- LEFT SIDE PANEL -->
                <div flex="20" ui-view="LeftPanel"></div>

                <!-- CONTENT OF TABS -->
                <div flex="60" class="ContentPadding" md-theme="default" ui-view="Recharge"></div>

                <!--RIGHT SIDE PANEL -->
                <!--<div flex="20" ui-view="RightPanel"></div>-->

            </div>

        </div>

        <!--LOGIN FORM -->
        <div ng-if="!mishWishScope.IsSignUp && !mishWishScope.IsLoginSuccess" ui-view="Login"></div>

        <!-- SIGNUP FORM -->
        <div ng-if="mishWishScope.IsSignUp && !mishWishScope.IsLoginSuccess" ui-view="SignUp"></div>


    </div>
</div>

<!-- BOOTSTRAP ANGULAR APP -->
<script>
    angular.bootstrap(document.getElementById("mishWishApp"), ['MishWishApp']);
</script>
