<!-- LEFT PANEL -->

<div class="main-container" layout="row" flex>
    <md-sidenav class="main-sidenav md-sidenav-left" md-theme="md-cyan-theme" md-component-id="navigation-drawer" md-is-locked-open="true" layout="column">
        <md-content md-scroll-y flex layout="column">
            <md-sidemenu locked="true">
                <md-sidemenu-group>
                    <md-subheader class="md-no-sticky">Menu</md-subheader>
                   
                        <md-sidemenu-content md-heading="Contacts" md-arrow="true">
                        <!--<md-icon class="material-icons">face</md-icon>-->
                        </md-sidemenu-content>

                        <md-sidemenu-content md-heading="DTH" md-arrow="true">
                        </md-sidemenu-content>
                        <md-sidemenu-content md-heading="Data card" md-arrow="true">
                        </md-sidemenu-content>
                        <md-sidemenu-content md-heading="Electricity Bill" md-arrow="true">
                        </md-sidemenu-content>
                        <md-sidemenu-content md-heading="Gas Bill" md-arrow="true">
                        </md-sidemenu-content>
                        <md-sidemenu-content md-heading="Metro Card" md-arrow="true">
                        </md-sidemenu-content>
                        <md-sidemenu-content md-heading="Landline or Broadband" md-arrow="true">
                        </md-sidemenu-content>
                        </md-sidemenu-group>

              
            </md-sidemenu>
        </md-content>
    </md-sidenav>
      

</div>