<!-- LEFT PANEL -->

<div class="main-container" layout="row" flex>
    <md-sidenav class="main-sidenav md-sidenav-left" md-theme="md-cyan-theme" md-component-id="navigation-drawer" md-is-locked-open="true" layout="column">
        <md-content md-scroll-y flex layout="column" class="leftPanelMarginTop">
            <md-sidemenu locked="true">
                <md-sidemenu-group>
                    <md-subheader class="md-no-sticky">Menu</md-subheader>

                        <md-sidemenu-content md-heading="Recharge" ng-click="mishWishScope.MishWishVM.OnTabChange(1)">
                        </md-sidemenu-content>

                        <md-sidemenu-content md-heading="Contacts" ng-click="mishWishScope.MishWishVM.OnTabChange(2)">
                        </md-sidemenu-content>

                        <md-sidemenu-content md-heading="DTH" ng-click="mishWishScope.MishWishVM.OnTabChange(3)">
                        </md-sidemenu-content>
                        <md-sidemenu-content md-heading="Data card"ng-click="mishWishScope.MishWishVM.OnTabChange(4)">
                        </md-sidemenu-content>
                        <md-sidemenu-content md-heading="Electricity Bill">
                        </md-sidemenu-content>
                        <md-sidemenu-content md-heading="Gas Bill">
                        </md-sidemenu-content>
                        <md-sidemenu-content md-heading="Metro Card">
                        </md-sidemenu-content>
                        <md-sidemenu-content md-heading="Landline or Broadband">
                        </md-sidemenu-content>
                        </md-sidemenu-group>

              
            </md-sidemenu>
        </md-content>
    </md-sidenav>
      

</div>