<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

</head>
<body>
    <!--<md-content layout-padding>
        <div>
            <form name="userForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="user.firstName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input ng-model="theMax">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Mobile No</label>
                        <input ng-model="theMax">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-button class="md-raised md-primary">ADD</md-button>
                    </md-input-container>
                </div>
                <div>
                    <md-button class="md-fab md-mini" aria-label="Eat cake">
                    <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
                </md-button>

                </div>
            </form>
        </div>
        <md-input-container class="md-block" flex-gt-sm>
            <md-button class="md-raised md-primary">Verify</md-button>
        </md-input-container>
    </md-content>-->
    <div class="row" style="margin-top:10px;">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8 col-md-offset-8">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading text-center text-bold">Thanks!</div>
                        <div class="panel-body">
                            <p>You'll receive varifiction number via SMS</p>
                            <div class="col-md-12">
                                <p>Enter it here</p>
                                <input class="form-control" />
                            </div>
                            <div>
                                <p><a href="#">Resend verification code</a></p>
                            </div>
                            <div>
                                <md-content layout-padding>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <md-button class="md-raised md-primary">Verify</md-button>
                                    </md-input-container>
                                </md-content>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">Didn't received SMS?</p>
                </div>
               <div>
                   
               </div>
            </div>
        </div>
    </div>
    <div>
        <md-content layout-padding>
            <md-input-container class="md-block" flex-gt-sm>
                <md-button class="md-raised md-primary">Get it vai call</md-button>
            </md-input-container>
        </md-content>
    </div>
</body>
</html>
